{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container sections">
    {% if 'username' in session %}
    <div class="row">
      <div class="col-md-12">
          
              <a href="{{ url_for('add_category') }}"><button type="button" class="btn btn-secondary btn-lg">Add Category</button></a>
              <a href="{{ url_for('add_item') }}"><button type="button" class="btn btn-secondary btn-lg">Add item</button></a>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="container sections">  
            <div class="row">
              <div class="col-md-6" style=padding-top: 8px;">
                <h2>Category</h2><hr>
              
                {% for category in categories %}
                <div class="list-group">
                    <a href="{{ url_for('show_items_in_category', category_id=category.id) }}" class="list-group-item list-group-item-action list-group-item-primary">
                        {{ category.name }}
                    </a>
                </div>
                {% endfor %}             
             </div>             
          </div>
</div>
{% endblock %}
