{% extends "layout.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-7">
               <h1>Create New Category</h1>

               <form name="new-category" method="POST">
                    
                    <div class="form-group">
                      <input name="new-category-name" type="text" class="form-control" required>
                    </div>
                            <a href="{{ url_for('home') }}"><button type="submit" class="btn btn-secondary btn-lg">Add</button>
                            <a href="{{ url_for('home') }}"><button type="submit" class="btn btn-secondary btn-lg">Cancel</button></a>                   
               </form>

            </div>
        </div>
    </div>
{% endblock %}
